<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter First Number" name="txtnum1" />
        <br>
        <input type="text" placeholder="Enter Second Number" name="txtnum2" />
        <br>
        <input type="submit" name="btnsubmit" value="Addition" />
    </form>
   {{key}}

</body>
</html>